body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#b5cef2,  #ebd6e5);
}
.h2{
  position: absolute;  /* or position: fixed; for fixed to viewport */
  top: 0;
  left: 0;
  margin: 0; 
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #fd08ab; 
}


.button-container {
  position: absolute;
  top: 20px;  
  display: flex;
  gap: 20px;
}
.nav-button {
  padding: 10px 20px;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #a1a7c0;
  border-color: #25012c;
  color: black;
  cursor: pointer;
  
  transition: background-color 0.3s, color 0.3s;
}

.nav-button.active {
  background-color: #5372F0; /* Active button color */
  color:white;
  border-color: #091958;
}

.image-grid{
  display: flex;
  flex-direction:row; 
  gap: 20px;
}
.images-left{
  height: 200px;
  width: 300px;
  border-radius: 25px
}
.images-right{
  height: 200px;
  width: 300px;
  border-radius: 25px
}
.container {
  max-width: 1200px;
  margin: auto;
}

.swiper {
  position: relative;
  margin-top: 50px;
  width: 1100px;
  height:450px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-slide {

  display: flex;
  justify-content: center;
  align-items: center; 
  width: auto; 
  height: auto
}

.swiper-details {
  display: block;
  background-color: rgba(255, 255, 255, 0.5); 
  width:1050px;
  height: 400px;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  margin: auto;
  font-family: 'Lato';
}
.swiper-details-1st{
  display: block;
  background-color: rgba(255, 255, 255, 0.5); 
  width:1050px;
  height: 400px;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  margin: auto;
  line-height: 1.2;
  font-family: 'Lato';
  font-size: 25px;
  color: #1f3662;
}
.heading_first{
  margin:0;
  font-family: 'Lato';
  font-size: 34px;
  font-style: bold;
  text-align: center;

}
.text{
  margin:0;
  margin-top: 10px;
}
.text-line{
  margin:0;
  margin-top:5px;
}
.list{
  margin:0;
  margin-top:5px;
}
.swiper-details:hover {
  border-color: #5372F0;
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  position: relative;
  opacity: 0.5;
  background: #131974;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #131974;
}

.swiper-button-prev {
  margin-left: 70px;
  color: #5372F0;
}
.swiper-button-next {
  margin-right: 70px;
  color: #5372F0;
}

.new-para{
  margin:0;
  line-height: 1.2;
  font-family: 'Lato';
  font-size: 25px;
  color: #1f3662;
}
.new-head{
  margin:0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato';
  font-size: 30px;
  color: #1f3662;
}