body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#b5cef2,  #ebd6e5);
}

.h2{
  position: absolute;  /* or position: fixed; for fixed to viewport */
  top: 0;
  left: 0; 
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #fd08ab; 
}


.button-container {
  position: absolute;
  top: 20px; 
  display: flex;
  gap: 20px;
}


.nav-button {
  padding: 10px 20px;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #a1a7c0;
  border-color: #25012c;
  color: black;
  cursor: pointer;
  
  transition: background-color 0.3s, color 0.3s;
}

.nav-button.active {
  background-color: #5372F0; /* Active button color */
  color:white;
  border-color: #091958;
}
.image{
  position: absolute;
  margin: 0;
  top:90px;
  left:920px;
  
  width: 400px;
  height:500px;
}
.main-line{
  position: absolute;
  margin: 0;
  top:225px;
  left:30px;
  font-family: 'Lato';
  font-size: 50px;
  color: #1f3662;
}

.sublime{
  position: absolute;
  margin: 0;
  top: 320px;;
  left:34px;
  font-family: 'Lato';
  font-size: 30px;
  line-height: 1.4;
  color: #e970e3;
}

